.flexible-container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 12%;
    margin-right: 12%;
    justify-content: space-between;
}
.story-info{
    margin-left: 20px;
}
.story-info p{
    text-align: center;
    margin: 30px;
    color: #226764;
    font-size: 20px;
}
.story-info h2{
    color: #F89F49;
    font-size: 48px;
} 
.rotate{
    transform: rotate(180deg);
}