.instaItems-Card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid grey;
}
.instaItems-Card img{
    padding: 0;
}
.instaItems-Card p, small{
    text-align: start;
    padding: 10px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons1{
    margin-left: 10px;
}
.icon{
    font-size: 25px;
    padding: 5px;
}