.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo img{
    height: 50px;
}
.logo h2{
    color: white;
    margin-left: 10px;
}
nav{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.resurve{
    padding: 10px;
    background-color: #F89F49;
}